In [1]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:red">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')

In [2]:
!pip install pyspark==2.4.5

Collecting pyspark==2.4.5
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 88kB/s  eta 0:00:01    |▍                               | 2.3MB 10.2MB/s eta 0:00:22.2MB 31.6MB/s eta 0:00:06     |█████                           | 33.7MB 31.6MB/s eta 0:00:06     |█████▎                          | 35.8MB 31.6MB/s eta 0:00:06     |██████                          | 40.7MB 26.5MB/s eta 0:00:07     |█████████▏                      | 62.3MB 41.4MB/s eta 0:00:04     |████████████▏                   | 82.7MB 7.0MB/s eta 0:00:20     | 137.8MB 5.4MB/s eta 0:00:15��█████████████████▎      | 172.1MB 7.1MB/s eta 0:00:07��█████████████████▊      | 175.3MB 7.1MB/s eta 0:00:07     |██████████████████████████▏     | 178.4MB 7.1MB/s eta 0:00:06��█████████▍   | 193.6MB 7.0MB/s eta 0:00:04��████████████████████▉  | 202.7MB 5.1MB/s eta 0:00:03
Collecting py4j==0.10.7 (from pyspark==2.4.5)
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 9.4MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [3]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [4]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

In [5]:
rdd = sc.parallelize(range(100))

In [6]:
# please replace $$ with the correct characters
rdd.count()

100

In [7]:
rdd.sum()

4950

In [8]:
def gt50(i):
    if i > 50:
        return True
    else:
        return False

In [9]:
print(gt50(4))
print(gt50(51))

False
True

In [10]:
def gt50(i):
    return i > 50

In [11]:
print(gt50(4))
print(gt50(51))

False
True

In [12]:
gt50 = lambda i: i > 50

In [13]:
print(gt50(4))
print(gt50(51))

False
True

In [14]:
#let's shuffle our list to make it a bit more interesting
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

Let’s filter values from our list which are equals or less than 50 by applying our “gt50” function to the list using the “filter” function. Note that by calling the “collect” function, all elements are returned to the Apache Spark Driver. This is not a good idea for BigData, please use “.sample(10,0.1).collect()” or “take(n)” instead.

In [15]:
rdd.filter(gt50).collect()

[96,
 82,
 69,
 81,
 61,
 94,
 88,
 93,
 68,
 70,
 66,
 78,
 74,
 83,
 51,
 58,
 87,
 91,
 53,
 65,
 79,
 73,
 84,
 64,
 52,
 92,
 59,
 60,
 63,
 72,
 71,
 56,
 90,
 57,
 86,
 95,
 76,
 77,
 97,
 85,
 62,
 54,
 98,
 89,
 80,
 99,
 55,
 67,
 75]

In [17]:
#We can also use the lambda function directly.
rdd.filter(lambda i: i > 50).collect()

[96,
 82,
 69,
 81,
 61,
 94,
 88,
 93,
 68,
 70,
 66,
 78,
 74,
 83,
 51,
 58,
 87,
 91,
 53,
 65,
 79,
 73,
 84,
 64,
 52,
 92,
 59,
 60,
 63,
 72,
 71,
 56,
 90,
 57,
 86,
 95,
 76,
 77,
 97,
 85,
 62,
 54,
 98,
 89,
 80,
 99,
 55,
 67,
 75]

Let’s consider the same list of integers. Now we want to compute the sum for elements in that list which are greater than 50 but less than 75. Please implement the missing parts.

In [19]:
rdd.filter(lambda x: x>50).filter(lambda x: x<75).sum()

1500

In [21]:
#showing the values that summed up to be 1500 in above case
rdd.filter(lambda x: x>50).filter(lambda x: x<75).collect()

[69,
 61,
 68,
 70,
 66,
 74,
 51,
 58,
 53,
 65,
 73,
 64,
 52,
 59,
 60,
 63,
 72,
 71,
 56,
 57,
 62,
 54,
 55,
 67]

In [22]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2')])

# let's have a look what's inside
df.show()

# let's print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

In [23]:
# register dataframe as query table
df.createOrReplaceTempView('df_view')

# execute SQL query
df_result = spark.sql('select value from df_view where id=2')

# examine contents of result
df_result.show()

# get result as string
df_result.first().value

+------+
| value|
+------+
|value2|
+------+

'value2'